<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterBarStyles"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerBarStyles"></div>
        </div>
      </section>
      <section v-if="winner">
        <!-- GAME OVER SECTION -->
         <h2>Game Over</h2>
         <h3 v-if="winner === 'Player'">Player Won!</h3>
         <h3 v-if="winner === 'Monster'">Monster Won</h3>
         <h3 v-if="winner === 'Draw'">It's a Draw</h3>
         <button @click="startNewGame">Start New Game</button>
      </section>
      <section id="controls" v-else>
        <button @click="playerAttack">ATTACK</button>
        <button @click="playerSpecialAttack" :disabled="onThirdRound">SPECIAL ATTACK</button>
        <button @click="healPlayer">HEAL</button>
        <button @click="playerSurrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="logMessage in logMessages">{{ logMessage.who }} uses {{ logMessage.what }} - {{logMessage.howMuch}}hp</li>
        </ul>
      </section>
    </div>
  </body>
</html>
